body {
    font-family: 'Montserrat', sans-serif;;
}

.newstitle h6 {
    font-size: 13px;
    font-weight: 600;
    display: block;
    line-height: 20px;
    color: #222;

}

.newstitle p {
    color: #1074b7;
    font-size: 12px;
    font-weight: 500;
}

.nav-tabs {
    background-color: #f4f4f4;
}

.nav-link {
    transition: none;
}

.nav-tabs li button {
    color: #222;
}

.nav-tabs li button.active {
    font-weight: 600;
}

.hastitle {
    color: #1074b7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

#navbarNavDropdown ul li a {
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    padding: 12px;
    color: #222;
}

nav{
    background-color: #dbf4ff !important;
}

nav ul a:hover {
    color: #222;
    background-color: #fff;
}

.dropdown-menu{
    display: none;
    min-width: 224px;
    border-radius: 0;
    padding-top: 0;
    border-top: 0;
} 

nav ul li:hover .dropdown-menu{
    display: block;
}

.navbar-toggler {
    border: 1px solid #fff;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.cr-list {
    list-style-type: none;
    font-size: 14px;
}

.cr-list a {
    color: #262228;
}

.cr-list a:hover {
    color: #007bff;
    text-decoration: underline;
}

footer a {
    text-decoration: none;
}

/* Custom CSS Classes */
.fw-500 {
    font-weight: 500;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.section-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.maintitle {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    border-bottom: 1px solid #5d5d5d;
    justify-content: space-around;
    position: relative;
    text-transform: uppercase;
}

.maintitle span {
    margin: 0 0 -18px;
    padding: 5px 10px;
    background-color: #fff;
}

.maintitle2 {
    font-weight: 600;
    color: #222;
    text-transform: uppercase;
    border-left: 8px solid #1074b7;
    padding-left: 5px;
}

.maintitle2 h5 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.viewAll {
    color: #ff3636;
    font-size: 12px;
    padding: 2px 10px;
    margin-bottom: 0;
    text-decoration: none;
    
}

.w-8em {
    width: 8em;
}

.carousel-cell-1 {
    width: 50%;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
/* cell number */
.carousel-cell-1:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-cell-2 {
    width: 190px;
    margin-right: 10px;
    border-radius: 5px;
}

.carousel-cell-2 img {
    height: 200px;
}

.carousel-cell-2 p {
    font-size: 16px;
    font-weight: 600;
}

/* cell number */
.carousel-cell-2:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

#price-analysis {
    background-color: #fff;
    color: #222;
    border-bottom: 1px solid #222;
}

#price-analysis .nav-item {
    color: #222;
    font-weight: 500;
    font-size: 14px;
}

#price-analysis .nav-item button {
    text-transform: uppercase;
}

#price-analysis .nav-item .nav-link.active {
    border: 0px;
    border-bottom: 5px solid #1074b7;
}

#price-analysis .nav-item .nav-link:hover {
    text-decoration: none;
    border: 0px;
    color: #222;
}

.newstabs, .tabs {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    color: #222;
    overflow: hidden;
}

.col-hometab {
    font-family: Montserrat;
}

.h-x {
    height: 15.5%;
}

.news-section p:nth-child(1) {
    font-size: 16px;
}

.description {
    font-family: 'Georgia', sans-serif;
}

.news-section .col-md-7 p:nth-child(2) {
    /* font-size: 14px;
    font-weight: 400; */
    font-family: 'Georgia', sans-serif;
}

.a-one-item .accordion-item {
    border: 0px;
    
}

.a-one-item .accordion-button {
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}

.a-one-item .accordion-button:focus {
    border: 0px;
    box-shadow: none;
}

.news-section .col-7 p:nth-child(3) {
    font-size: 12px;
    color: #1074b7;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    nav {
        background-color: #0065a0 !important;
    }

    #navbarNavDropdown ul li a.nav-link {
        color: #fff !important;
    }

    #navbarNavDropdown ul li a.nav-link:focus {
        color: #222 !important;
    }

    nav .container-fluid {
        padding-top: 12px; 
        padding-bottom: 12px; 
    }


    .news-section .row:nth-child(1), .news-section .col-8 {
        padding-right: 0px;
    }

    .news-section .col-md-7 p:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Georgia', sans-serif;
    }
    
    footer section ul {
        display: flex !important;
    }

    footer section ul li {
        margin: 0 20px 0 0;
    }

    .maintitle2 {
        font-size: 14px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 95%;
    }
}

/* Style controlling the div with .col-r class  */
@media screen and (min-width: 519px) and (max-width: 767px) {
    .col-r {
        display: grid;
        align-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .col-r {
        display: grid;
        align-content: space-around;
    }
}
/* End  */

@media only screen and (max-width: 575px) {
    #navbarNavDropdown ul li a.nav-link {
        color: #fff !important;
    }
    
    nav {
        background-color: #0065a0 !important;
    }

    nav .container-fluid {
        padding-top: 12px; 
        padding-bottom: 12px; 
    }

    .news-section p:nth-child(1) {
        font-size: 13px;
    }


    .maintitle2 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    footer section ul {
        display: grid !important;
        grid-template-columns: 50% 50%;
    }

    .static-advert img {
        height: 100px;
    }

}

@media only screen and (max-width: 320px) {
    #navbarNavDropdown ul li a.nav-link {
        color: #fff !important;
    }

    .news-section .col-5 {
        padding-right: 0px;
        /* width: 108px; */

    }

    .news-section .col-7 {
        padding-right: 0px;
    }

    .news-section .col-7 p {
        padding-right: 0px;
        font-size: 12px;
    }

    .news-section .col-7 p:nth-child(3) {
        color: #1074b7;
        font-size: 10px;
    }
}

/* Setting responsive text  */
@media screen and (min-width: 992px) and (max-width: 1399px) {
    nav form.left-form {
        display: none !important;
    }
}